wgetfiles/
allChildesScrape/
baseline-smallen-plots/
beam8/
childes_test_random/
codebaseOutputs/
fineTuningDataFolders/
goldTranscripts
masterJobLogs/
nemo_msdd_configs/
parameterExptPlots/
pipelineOutput/
plotFolders/
providenceFullAudio/
providenceRawAudio/
providenceScrape/
temp_outputs/
trial_audio_outputs/
wget/
wgetfiles/
whisper-small-finetuned-dummy/
whisper-small-finetuned-v1/
wordAnalysis/
rawAudioFiles/
scrapev1.zip
scrapev01.zip
speaker_counts_1725471306_missing.csv
speaker_counts_1725471306_violin.csv
speaker_counts_1725471306.csv
speaker_counts_1725913741_missing.csv
speaker_counts_1725913741_violin.csv
speaker_counts_1725913741.csv
speaker_counts_1727565010_missing.csv
speaker_counts_1727565010_violin.csv
speaker_counts_1727565010.csv
*.log
__pycache__/
*.tmp
Providence.csv
providence_split.csv
*.zip
*.csv
handy_commands.txt
datapull.ipynb
